body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(169, 211, 248);
}
header > h2 {
    margin: 0;
    
}
.container {
    width: 20%;
    height: 880px;
    background-color: rgb(221, 237, 243);
    margin: 0px ;
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 9px;
}
.container > .foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.container > .foto-perfil > img {
    width: 15vw;
    height: 15vh;
}
.container > .datos-personales {
    margin-left: 50px;
}
.container > .qualities {
    margin-left: 50px;
}
.container > .centro-interes {
    margin-left: 50px;
}
.container2 {
    width: 73%;
    height: 94vh;
    display: flex;
    float: right;
    flex-direction: column;
}
.perfil {
    width: 70%;
    display: flex;
    flex-direction: column;
}
span {
    color: black;
    font-size: 18px;
    font-weight: 600;
}
 /* .experience-laboral{
    display: flex;
    flex-direction: column; 
  }  
    */

    @media screen and (max-width: 500px) {
        .container {
            
                width: 75vw;
                height: 820px;
                background-color: rgb(221, 237, 243);
                margin: 0px;
                display: inline-flex;
                flex-direction: column;
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 9px;
                position: absolute;
            
        }
        .container > .foto-perfil > img {
            width: 50vw;
            height: 15vh;
    }
    .container2 {
        width: 73%;
        height: 94vh;
        display: flex;
        float: right;
        margin-top: 840px;
        flex-direction: column;
    }
    }
 
